<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopify Challenge - Rahul Kherajani</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class = "container" style = "margin:2em auto;">
    <form action='/edit/<%= item.id %>' method="POST">
      <h1>Edit Item <%= item.id %></h1>
      <div class="form-group">
        <label for="name">Name*</label>
        <input name="name" type="text" class="form-control" id="name" value="<%= item.name %>" placeholder="Enter Name" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input name="description" type="text" class="form-control" id="description" value="<%= item.description %>" placeholder="Enter Desciption">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity*</label>
        <input name="quantity" type="number" class="form-control" id="quantity" value="<%= item.quantity %>"placeholder="Enter Quantity" min="0" required>
      </div>
      <p>*Required</p>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class ="btn btn-secondary" href="/">Cancel</a>
    </form>
  </div>
</body>
</html>