<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Web Server</title>
    <meta name="description" content="Roughly 155 characters">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  </head>
  <body>
    <div class="container" style="margin:2em auto">
    <h1>Shopify Production Engineer Intern Challenge</h1>
    <p class = "lead"> Made with <i class="bi bi-heart-fill"></i> by Rahul Kherajani</p>
    <p class = "lead"> Source Code: <a href = "https://github.com/RahulKherajani/shopify-production-challenge"><i class="bi bi-github"></i></a></p>
    <p class = "lead">Requirements:</p>
    <ul><li>
      Basic CRUD Functionality for items.
    </li>
    <li>
      Each Inventory Item associated with a city (5 possible cities).
    </li>
    <li>
      List of items includes the city & a description of current weather in the city.
    </li>
    <li>
     When deleting an item, allow deletion comments and undeletion.
    </li></ul>
    <hr/>
    <h2>Inventory Management</h2>
    <div style="display:flex; justify-content:space-between; margin:0.5em">
    <span style="font-size:1.5rem">Items</span>
    <span><a class="btn btn-info" href="/create/">Create New</a></span>
      </div>
    <table class = "table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>City</th>
          <th>Weather</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        <% items.forEach((item) => {%>
            <tr>  
              <td><%= item.item_id %></td>
              <td><%= item.item_name %></td>
              <td><%= item.item_description %></td>
              <td><%= item.item_quantity %></td>
              <td><%= item.city.city_name %></td>
              <td><%= item.city.weather %></td>
              <td><%= item.item_status %></td>
              <% if(item.item_status==='active'){ %>
              <td><a class="btn btn-warning" href="/edit/<%= item.item_id%>">Edit</a>
              <a class="btn btn-danger" href="/delete/<%= item.item_id%>">Delete</a></td>
              <% } else if (item.item_status==='inactive'){ %>  
              <td><form action='/undo/<%= item.item_id %>' method="POST">
      <button type="submit" class="btn btn-dark">Undo</button>
    </form></td>
              <% } else {%>
                <td></td>
              <% }%>
            </tr>                                   
         <% }) %>
    </table>
  </div>
  <div class="container" style="margin:2em auto">
  <p style="font-size:1.5rem; margin:0.5em">Comments</p>
  <table class = "table">
        <tr>
          <th>ID</th>
          <th>Item ID</th>
          <th>Comment</th>
        </tr>
        <% comments.forEach((comment) => {%>
        <tr>  
          <td><%= comment.comment_id %></td>
          <td><%= comment.item_id %></td>
          <td><%= comment.comment_text %></td>
        </tr>                                   
        <% }) %>
    </table>
  </div>
  </body>
</html>